
.city-country-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-city-country-container{
    width: 40vw;
    height: 40vh;
    background-color: aliceblue;
}
.list-of-capitals-container{
    display: flex;
}