
.main-container-images{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
container-image-slice{
    height: 80vh;
    width:60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.06);
}
.card-container-slice-images{
    display: flex;
    justify-content: center;
}
.image{
    width:300px;
    height: 200px;
}