
.toss-coin-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}

.card-contianer-toss-coin{
    min-height: 50vh;
    background-color: white;
    min-width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;


}

.image-card-container-toss-coin{
    width:100px;
    height: 100px;
}
.total-heads-tells-card-contianer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:200px;
    
}