.order-Tab-list{
    list-style-type: none;
    padding-top: 12px;
    padding-left:12px;
   
    
}
.tab-btn{
    font-family: 'Roboto';
    color: #9aa5b1;
    font-weight: 500;
    font-size: 16px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.active-tab-btn{
    color: #3e4c59;
    border-bottom: 2px solid hsl(256, 92%, 25%);
}
