
.CryptocurrencyItem-order-list{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.CryptocurrencyItem-order-list-logo-name{
    display: flex;
    justify-content: space-between;
    width: 10%;
}
.currency-logo{
    width: 30px;
    height: 30px;
}
.paragraph{
    color: white;
}

.CryptocurrencyTracker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .CryptocurrenciesList-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    border: 2px solid #00e7ff;
  }
  
  .CryptocurrenciesList-container-heading {
    color: #00e7ff;
  }
  
  .cryptocurrency-list-image {
    height: 200px;
    width: 100%;
  }
  
  .cryptocurrency-sub-headings {
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    width: 100%;
  }
  
  .cryptocurrency-unordered-list {
    list-style-type: none;
    padding: 0;
  }
  
  .CryptocurrencyItem-order-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #00e7ff;
  }
  
  .CryptocurrencyItem-order-list-logo-name {
    display: flex;
    align-items: center;
  }
  
  .currency-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .paragraph {
    color: white;
  }
  